.navigation {
  background-color: rgb(100, 149, 237);
  position: relative;
}

.navigation td {
  text-decoration: none;
  color: blue;
}

.title {
  font-size: 60px;
}

body {
  background-color: #87CEEB;
  font-family: 'Slabo 27px', serif;
  box-sizing: border-box;
  border: 9px double #1C6EA4;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  text-align: justify;
}

.number h3 {
  font-size: 45px;
}

h1 {
  text-align: center;
  font-family: cursive;
  color: black;
}

.title img {
  height: 500px;
  width: 700px;
  align-items: center;
}

h2 {
  font-size: 40px;
  text-align: center;
}

p.description {
  text-indent: 40;
  text-align: justify;
}

footer {
  font-family: Arial;
  font-size: 14px;
  text-align: left;
}
